html
{
    height:100%;
}
body{
    height:100%;
}
/*
.signMnDiv
{
	margin: 0 0 0 30%;
}

.datLi
{
    margin: 0% 0 0 0;
    height:30px;
}

.anchTog
{
    float:left;
    padding: 5px 0 0 12px !important;
    margin: 0 0 0 0;
    background-color: black;
    width:80px;
    color:white;
    border-radius: 4px;
}

.rdBorder 
{
    border-style: solid;
    border-color: white;
    border-radius: 5px;
    border-top-left-radius:5px !important;
    border-top-right-radius:5px !important ;
}

.optDown
{
    margin-top: 2% !important ;
    width:100%;
}

.fltLeft
{
    float:left;
}

.optDown:before
{
    content: '';
    float:left;
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid white;
    margin: -11px 0 0 3%;
}

.fntSz
{
    font-size:12px;
}

.divDat
{
    float:left;
    margin: 2% 0 0 18%;
}

.divLft
{
    margin: 4% 0 0 25%;
}

.divLftTb
{
    margin: 0 0 0 20%;
}

.divLftSuc
{
    float: left;
    margin: 4% 0 0 20%;
    height: 75px;
    width: 60%;
}

.yesBtn
{
    float: left;
    margin: 0 5% 0 30%;
}

.sgnupFrm
{
    margin: 5% 0 0 25%;
}

.frmEleTp
{
    margin: 20px 0 0 0;
}
*/

body {
    margin: 20px;
    background: #455a64;
}
.search-box {
    position: relative;
}
.search-box .glyphicon {
    position: absolute;
    padding: 10px;
    pointer-events: none;
    left: 15px;
    top: 0px;
}
.search-box .glyphicon:before {
    color: white;
    transition: all 0.2s linear;
}
.search-box input {
    color: #fff;
    padding-left: 60px;
    background: #546e7a;
    border:0;
    outline: none !important;
    transition: all 0.2s linear;
}
.search-box input:focus {
    background: #fff !important;
    outline: 0;
    color: #333;
}
.search-box input:focus + .glyphicon:before {
    color: #333;
}
.search-box input:hover {
    background: #78909c;
}